@{
    ViewData["Title"] = " IOhmValueCalculator ";
}

<center><h2>Resistor Ohms Calculator</h2></center>

@using (Html.BeginForm("Index", "Sample01", FormMethod.Post))
{
    <table>
        <tr>

            <th>Band1</th>
            <th>Band2</th>
            <th>Band3</th>
            <th>Multiplier</th>
            <th>Tolerance</th>
            <th>Temperature Coefficient</th>
        </tr>

        <tr>
            <td>
                <select name="Band1">
                    <option value="Brown">Brown</option>
                    <option value="Red">Red</option>
                    <option value="Orange">Orange</option>
                    <option value="Yellow">Yellow</option>
                    <option value="Green">Green</option>
                    <option value="Blue">Blue</option>
                    <option value="Puple">Puple</option>
                    <option value="Gray">Gray</option>
                    <option value="White">White</option>
                </select>
            </td>

            <td>
                <select name="Band2">
                    <option value="Black">Black</option>
                    <option value="Brown">Brown</option>
                    <option value="Red">Red</option>
                    <option value="Orange">Orange</option>
                    <option value="Yellow">Yellow</option>
                    <option value="Green">Green</option>
                    <option value="Blue">Blue</option>
                    <option value="Puple">Puple</option>
                    <option value="Gray">Gray</option>
                    <option value="White">White</option>
                </select>
            </td>

            <td>
                <select name="Band3">
                    <option value="None">None</option>
                    <option value="Black">Black</option>
                    <option value="Brown">Brown</option>
                    <option value="Red">Red</option>
                    <option value="Orange">Orange</option>
                    <option value="Yellow">Yellow</option>
                    <option value="Green">Green</option>
                    <option value="Blue">Blue</option>
                    <option value="Puple">Puple</option>
                    <option value="Gray">Gray</option>
                    <option value="White">White</option>
                </select>
            </td>


            <td>
                <select name="Multiplier">
                    <option value="None">None</option>
                    <option value="Silver">Silver</option>
                    <option value="Gold">Gold</option>
                    <option value="Black">Black</option>
                    <option value="Brown">Brown</option>
                    <option value="Red">Red</option>
                    <option value="Orange">Orange</option>
                    <option value="Yellow">Yellow</option>
                    <option value="Green">Green</option>
                    <option value="Blue">Blue</option>
                    <option value="Puple">Puple</option>
                </select>
            </td>

            <td>
                <select name="Tolerance">
                    <option value="None">None</option>
                    <option value="Sliver">Sliver</option>
                    <option value="Gold">Gold</option>
                    <option value="Brown">Brown</option>
                    <option value="Red">Red</option>
                    <option value="Green">Green</option>
                    <option value="Blue">Blue</option>
                    <option value="Puple">Puple</option>
                </select>
            </td>

            <td>
                <select name="Temperature">
                    <option value="None">None</option>
                    <option value="Brown">Brown</option>
                    <option value="Red">Red</option>
                    <option value="Orange">Orange</option>
                    <option value="Yellow">Yellow</option>
                </select>
            </td>
           <tr>
            <td><span>@ViewData["result"]</span></td>
            <td><input type="submit" name="Sample01" value="Calculate" /></td>
           </tr>
</table>

   

}

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
<style type="text/css" media="screen">
    #navcontainer ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-align: center;
    }

        #navcontainer ul li {
            display: inline;
        }

            #navcontainer ul li a {
                text-decoration: none;
                padding: .2em 1em;
                color: #fff;
                background-color: #036;
            }

                #navcontainer ul li a:hover {
                    color: #fff;
                    background-color: #369;
                }

    #navcontainer {
        margin-bottom: 1em;
    }
</style>
